@import "../../styles/variables.scss";

input {
    width: $width-17;
    height: $height-4;
    border-radius: $radius-8;
    border: none;
    padding: $spacing-10;
    @include baseFontStyle;

    &:focus {
      outline: none;
    }

    &::placeholder {
      @include baseFontStyleItalic;
      color: $gray-neutral;
    }
  }
  