/* Grayscale pallete */
$white: #ffffff;
$gray-light: #f9f8f8;
$gray-neutral: #d4d4d4;
$gray-dark: #525c60;

/* Greenscale pallete */
$green-light: #eff6f1;
$green-pale: #335b6b;
$green: #7eb693;
$green-dark: #274c5b;

/* Multicolor pallete */
$yellow: #efd372;
$blue: #37b5de;
