/* Grayscale pallete */
$white: #F9F8F8;
$gray-light: #D4D4D4;
$gray-dark: #525C60;

/* Greenscale pallete */
$green-light: #EFF6F1;
$green: #7EB693;
$green-dark: #274C5B;

/* Multicolor pallete */
$yellow: #274C5B
