/* Font-family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Roboto:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

$bodyFontFamily: "Open Sans", sans-serif;
$titleFontFamily: "Roboto", sans-serif;
$uppercaseFont: "Yellowtail", cursive;
