@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-width: thin;
}

body,
p,
ol li {
  @include baseFontStyle;
}

ol li::marker {
  @include baseFontStyleBold;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include titleFontStyle;
}

h1 {
  font-size: $font-size-70;
}

h2 {
  font-size: $font-size-50;
  line-height: $line-height-60;
}

h3 {
  font-size: $font-size-40;
  line-height: $line-height-46;
}

h4 {
  font-size: $font-size-35;
}

h5 {
  font-size: $font-size-30;
}

h6 {
  font-size: $font-size-29;
}

.uppercaseTitle {
  @include uppercaseTitleFontStyle;
  font-size: $font-size-36;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
