@mixin baseFontStyle {
  font-family: $bodyFontFamily;
  font-style: $baseFontStyle;
  font-weight: $baseFontWeight;
  font-size: $baseFontSize;
  line-height: $baseFontLineHeight;
  color: $gray-dark;
}

@mixin baseFontStyleItalic {
  @include baseFontStyle;
  font-style: italic;
}

@mixin boldBaseFontStyleBold {
  @include baseFontStyle;
  font-weight: $font-weight-7;
}

@mixin titleFontStyle {
  font-family: $titleFontFamily;
  font-style: $baseFontStyle;
  font-weight: $font-weight-7;
  color: $green-dark;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}
